.plotPageHeader {
  position: absolute;
  top: 0px;
  height: 43px;
  width: 100%;
  color: #2779AA !important;
  font-weight: bold;
  padding-left: 10px !important;
}

.plot {
  position: absolute;
  top: 45px;
  left: 0px;
}

.xAxisSelector {
  top: -2px;
  left: 5px;
  height: 35px;
}

.xAxisSelector .ui-selectonemenu-label {
  position: relative;
  top: -3px;
}